body {
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  background-image: url("https://fashionastyjake.files.wordpress.com/2011/02/mjet-thumb-320x365-9193.jpg?w=640");
}

h1 {
  font: 800 64px/64px 'gentium book basic';
  text-transform: none;
  text-align: center;
  color: gold;
}

section {
  display: flex;
}

section > div {
  flex-grow: 1;
}

.details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

dl > li {
  list-style: none;
}

dl > li + li {
  margin-top: 1rem;
}

dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: gold;
}
dt::after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
  font-weight: bold;
  color: gold;

}

label {
    color: gold;
}

